@model IEnumerable<Product>;
@{
    ViewData["Title"] = "AdminAddProd";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<body>
    <div style="margin 10px 10px 10px 10px">
        <a asp-action="AddProd">New Product</a>
    </div>
    @foreach(Product prod in Model)
    {
        <table class="table table-sm table-bordered">
            <tr>
                <td>@prod.ProductId</td>
                <td>@prod.Title</td>
                <td>@prod.Tag</td>
                <td>@prod.Price</td>
                <td>
                    <form>
                    
                    <a class="btn btn-sm btn-primary" asp-action="EditProd" asp-route-id="@prod.ProductId"></a>
                       <button type="submit">Edit</button>
                    
                    </form>
                </td>


            </tr>


        </table>
    }

</body>